# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.in
*.m4

# Extras
autom4te.cache
compile
configure
config.log
config.status
missing
install-sh
source/.deps/
src/Makefile
src/Makefile.in
src/meta_publish
src/mio_meta_tool
ar-lib
Makefile
conf/Makefile
depcomp
